spring:
  application:
    name: prham

  profiles:
    active: local

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 55MB

  jpa:
    show-sql: false
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true

server:
  port: 8080
  tomcat:
    max-swallow-size: -1

springdoc:
  override-with-generic-response: false