spring:
  config:
    activate:
      on-profile: local

  sql:
    init:
      mode: always
  datasource:
    url: jdbc:mysql://localhost:${MYSQL_HOST_PORT}/${MYSQL_DATABASE}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true

logging:
  level:
    org.springframework.messaging: INFO
    org.springframework.web.socket: INFO


custom:
  service:
    url: "http://localhost:8080"